build/

nbproject
nbproject/*
!nbproject/project.xml
*.txt
.vscode

src/examples/gui-georef/build-MBES-lib-georefGUI-Desktop-Debug
src/examples/gui-georef/build-MBES-lib-georefGUI-Desktop-Debug/*
src/examples/gui-georef/MBES-lib-georefGUI/MBES-lib-georefGUI.pro.user


src/examples/viewer/build

!CMakeLists.txt
