build/

nbproject
nbproject/*
!nbproject/project.xml
*.txt

src/examples/gui-georef/build-MBES-lib-georefGUI-Desktop-Debug
src/examples/gui-georef/build-MBES-lib-georefGUI-Desktop-Debug/*


src/examples/viewer/build

!CMakeLists.txt
